#wrapper{font-family:tahoma;}
.container{width:100%;
margin:0 auto;
}
#subheader{
    width:100%;
    height:30px;
    background:#0a930a;
    color:#fff;
    margin-top:-15px;
}
#subheader p{
    float:left;
    margin-top:7px;
}
#subheader a{
    float:right;
    line-height:auto;
    color:#fff;
    text-decoration:none;
    margin-left:30px;
    margin-top: 7px;
}
/*logo styling*/
#main-header{
    width: 100%;
    height:auto;
    background:#1aaa1a;
    float:left;
    margin-top:-15px;
}
#logo{
    width:250px;
    float:left;
    margin-top:10px;
}
#ist{
    color:black;
    font-size:45px;
    font-weight:bold;
    margin-left:15px;
    font-family:cursive;
}
#iist{
     color:black;
    font-size:35px;
    font-weight:bold;
    font-family:cursive;
}
/*searching area styling*/
#search{
    width: 33%;
    float: left;
    padding: 20px;
    margin-left: 50px;
    font-size:50px;
}
.search-area{
    width:100%;
    height:50px;
    background:#fff;
    border:none;
    border-radius:10px;
    float:left;
    }
.search-btn{
    height: 50px;
    border-radius: 10px;
    border: none;
    color: #fff;
    background: brown;
    margin-left:-100px;
    width:100px;
}
#user-menu{
    width: 300px;
    float: right;
    margin-top:20px;
}
/*this is for list styling*/
#user-menu li{
    float:left;
    width: 140px;
    text-align: center;
    list-style:none;
    font-size:25px;
    border-left:1px solid black;
    }
#user-menu li:hover{
    font-size:30px;
    transition: all .5s ease;
}
#user-menu li a{
    color: white;
    text-decoration: none;
}
/*this style for navigation bar*/
#navigation{
    width: 100%;
    height: auto;
    background: #1aaa1a;
    float: left;
    box-shadow:10px 14px 50px 2px #1aaa1a;
    
}
nav{
    width: 100%;:
    margin:20px;
}
nav a{
    margin-left:2%;
    color:white;
    text-decoration: none;
    margin-bottom: 35px;
}
nav a:hover{
    color:#000;
    transition:all .7s ease;
}
/*=====slider===*/
#slider img{
    width:100%;
    max-width:100%;
    height:500px;
    float: left;
    overflow: hidden;
    margin-top: 50px;
}

/*======category heading*/
#heading-block{
    width:100%;
    height: auto;
    float:left;
    color:#1aaa1a;
    font-size:22px;
}
#heading-block h2{
    line-height: 35px;
    border-left:20px solid #1aaa1a;
    padding-left:10px;
}
/*===categort boxes===*/

.catbox{
    width:280px;
    height:300px;
    float:left;
    overflow:hidden;
    position:relative;
    margin:0 15 30 0;
}

.catbox span{
    width:100%;
    height:auto;
    line-height:35px;
    background:rgba(0,0,0,0.6);
    color:white;
    display: block;
    
    position:absolute;
    z-index:999;
    bottom:30px;
    text-align:center;
}
.catbox:hover span{
     color:#1aaa1a;
}
.catbox img{
    
    max-width:100%;
    transition: all .5s ease;
}
.catbox:hover img{
    transform:scale(1.3,1.3);
    transition:all .5s ease;
}
/*product styling*/
.prod-box{
    width:210px;
    height:auto;
    overflow:hidden;
    margin-right: 2%;
    position:relative;
    float:left;
}
.prod-box>img{
    max-width:100%;
}
.prod-trans{
    background:rgba(0,0,0,.6);
    width:100%;
    height:100%;
    top:0;
    left:0;
    bottom:0;
    right:0;
    position:absolute;
    opacity:0;
    transtion:all .5s ease;
}
.prod-box:hover .prod-trans{
    opacity:1;
    transition:all .5s ease;
    
}
.prod-feature{
    text-align:center;
    color: #00eb00;
    font-family: verdana;
    margin-top:-150px;
    transition:all .5s ease;
    }
.prod-box:hover .prod-feature{
    margin-top:30px;
    transition:all .5s ease;
}
.prod-feature input{
    width:auto;
    height:35px;
    font-size:17px;
}
.offer{
  width:33%;
    float:left;
    margin-right:0px;
}
.offer img{
    width:100%;
}

#footer{
    width:100%;
    height:auto;
    background:#f5f5f5;
    float: left;
    
}
.footer_sub_2 h2{
   margin-left: 10%;
}
.footer_sub_2{
    float:left;
    width:25%;
}
.footer_sub_2 ul li{
    list-style: none;
}
.footer_sub_2 ul li a{
    text-decoration:none;
    color:#000;
}
.footer_sub_2 ul li a:hover{
    color:#1aaa1a;
    text-decoration:underline;
}
